<!-- TODO: to update table - call renderRows() -->
<!-- TODO: change array - employees - to DataSource instance -->

<mat-card class="employee-table__container">
  <table class="employee-table" mat-table [dataSource]="employees">
    <!--  Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Name
      </th>
      <td
        mat-cell
        class="employee-table__cell"
        *matCellDef="let employee"
        (click)="onSelectEmployee(employee)">
        {{ employee.name }}
      </td>
    </ng-container>

    <!--  Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Surname
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.surname }}
      </td>
    </ng-container>

    <!--  HireDate Column -->
    <ng-container matColumnDef="hireDate">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Hire Date
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.hireDate | date }}
      </td>
    </ng-container>

    <!--  Skills Column -->
    <ng-container matColumnDef="skills">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        <div>
          <span> Skills </span>
          <!--          <button mat-icon-button (click)="onExpandSkills()">-->
          <!--            <mat-icon>chevron_right</mat-icon>-->
          <!--          </button>-->
        </div>
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ getSkillsNames(employee.skills).join(', ') }}
      </td>
    </ng-container>

    <mat-text-column
      *ngFor="let skill of skillsNames"
      [name]="skill"></mat-text-column>

    <!--  Manager Column -->
    <ng-container matColumnDef="manager">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Manager
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.manager }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        <ul class="employee-table__action-list">
          <li class="employee-table__action-list-element">
            <button
              type="button"
              class="employee-table__action-button"
              title="delete employee"
              (click)="onDeleteEmployee(employee)">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="employee-table__header-row"
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="employee-table__row"
      [class.employee-table__row--selected]="row === selectedEmployee"
      (click)="onSelectEmployee(row)"
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
