<!-- TODO: to update table - call renderRows() -->
<!-- TODO: change array - employees - to DataSource instance -->

<div class="employee-table__container">
  <table class="employee-table" mat-table [dataSource]="employees">
    <!--  ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        ID
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.id }}
      </td>
    </ng-container>

    <!--  Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Name
      </th>
      <td
        mat-cell
        class="employee-table__cell"
        *matCellDef="let employee"
        (click)="onSelectEmployee(employee)">
        {{ employee.name }}
      </td>
    </ng-container>

    <!--  Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Surname
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.surname }}
      </td>
    </ng-container>

    <!--  HireDate Column -->
    <ng-container matColumnDef="hireDate">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Hire Date
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.hireDate | date }}
      </td>
    </ng-container>

    <!--  Skills Column -->
    <ng-container matColumnDef="skills">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Skills
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.skills }}
      </td>
    </ng-container>

    <!--  TODO: time spent in projects *ngFor Column -->
    <!--  <ng-container matColumnDef="ID">-->
    <!--    <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>ID</th>-->
    <!--    <td mat-cell class="employee-table__cell" *matCellDef="let employee">{{ employee.id }}</td>-->
    <!--  </ng-container>-->

    <!--  Manager Column -->
    <ng-container matColumnDef="manager">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Manager
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.manager }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        class="employee-table__header-cell"
        *matHeaderCellDef></th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        <!--        TODO: action list component -->
        <ul class="employee-table__action-list">
          <li>
            <button
              type="button"
              class="employee-table__action-button"
              title="delete employee"
              (click)="onDeleteEmployee(employee)">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="employee-table__header-row"
      *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      class="employee-table__row"
      [class.employee-table__row--selected]="row === selectedEmployee"
      *matRowDef="let row; columns: columnsToDisplay"></tr>
    <!--    (click)="onSelectEmployee(row)"-->
  </table>
</div>
