
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__menu-button {
    display: inline-flex;
  }

  &__language-tooltip {
  }

  &__right-part,
  &__left-part {
    align-items: center;
    display: inline-flex;
  }

  &__navigation-items {
    list-style: none;
    flex-direction: row;
    padding: 0;
    margin: 0 1rem;
  }

  &__navigation-item {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    &__menu-button {
      display: none;
    }

    &__navigation-item {
      display: inline-flex;

      &:hover,
      &:active {
      }
    }
  }
}

