/* Employee-list Component's private CSS styles */
@import 'src/colors';

.employee-list {
    margin: 0 0 4rem 0;
    list-style-type: none;
    padding: 0;
    width: 20rem;

  &__button {
    display: flex;
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: $tapp-tertiary-light;
    margin: 1rem;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 3.6rem;

    &:hover {
      color: $tapp-primary;
      background-color: $tapp-background;
      left: 0.2rem;
      cursor: grab/pointer;
    }

    &:active {
      color: $tapp-primary-light;
      background-color: $tapp-primary-dark;
    }

    &--selected {
      color: $tapp-on-primary;
      background-color: $tapp-primary;

      &:hover {
        background-color: $tapp-secondary-light;
        color: $tapp-secondary-dark;
        cursor: grab/pointer;
      }

      &:active {
        background-color: $tapp-primary;
        color: $tapp-on-secondary;
      }
    }
  }

  &__id {
    display: inline-block;
    font-size: small;
    color: $tapp-tertiary-light;
    padding: 1.4rem;
    background-color: $tapp-tertiary-dark;
    margin-right: 1.6rem;
    border-radius: 4px 0 0 4px;
  }

  &__name {
    align-self: center;
  }
}
