@use 'sass:map';
@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "src/styles/theme/colors";

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  $primary200-contrast: mat.get-color-from-palette($primary-palette, 200-contrast);

  .chip-multiselect {

    &__chip-star-button-level {
      background: transparent;
      border: none;
    }

    &__option-level {
      background: transparent !important;

      &-0:hover {
        color: $tapp-skill-level-0;
      }

      &-0--selected * {
        color: $tapp-skill-level-0;
      }

      &-1:hover {
        color: $tapp-skill-level-1;
      }

      &-1--selected * {
        color: $tapp-skill-level-1;
      }

      &-2:hover {
        color: $tapp-skill-level-2;
      }

      &-2--selected * {
        color: $tapp-skill-level-2;
      }
    }


    &__chip {
      &-star-button-level {

        &-0:hover {
          color: $tapp-skill-level-0;

          & ~ .chip-multiselect__chip-star-button-level {
            color: $tapp-skill-level-contrast;
          }
        }

        &-0--selected {
          color: $tapp-skill-level-0;
        }

        &-1:hover {
          color: $tapp-skill-level-1;

          & ~ .chip-multiselect__chip-star-button-level {
            color: $tapp-skill-level-contrast;
          }
        }

        &-1--selected {
          color: $tapp-skill-level-1;
        }

        &-2:hover {
          color: $tapp-skill-level-2;
        }

        &-2--selected {
          color: $tapp-skill-level-2;
        }

        :has(~ &-1--selected),
        :has(~ &-1:hover){
          color: $tapp-skill-level-1;
        }

        :has(~ &-2--selected),
        :has(~ &-2:hover){
          color: $tapp-skill-level-2;
        }
      }
    }
  }
}




@mixin typography($typography-config) {
//  TODO: Future development
}


@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}

