<mat-form-field class="chip-multiselect__field">
  <mat-label> {{ 'employee.form.skills' | translate }}: </mat-label>
  <mat-chip-grid
    #chipGrid
    aria-label="Skills selection"
    class="chip-multiselect__chip-grid">
    <mat-chip-row
      class="chip-multiselect__chip"
      *ngFor="let skill of chosenSkills"
      (removed)="remove(skill)">
      <div class="chip-multiselect__chip-stars">
        <button
          mat-icon-button
          *ngFor="let levelName of possibleLevelsNames"
          (click)="onChangeLevel(skill, levelName)"
          [className]="
            'chip-multiselect__chip-star-button chip-multiselect__chip-star-button-' +
              levelName | lowercase
          "
          [ngClass]="
            ProficiencyLevel[skill.proficiency] === levelName
              ? [
                  'chip-multiselect__chip-star-button--selected',
                  ('chip-multiselect__chip-star-button-' + levelName
                    | lowercase) + '--selected'
                ]
              : ''
          ">
          <mat-icon class="chip-multiselect__chip-star">star_outlined</mat-icon>
        </button>
      </div>
      <div class="chip-multiselect__chip-content">
        {{ skill.name }}
        <button matChipRemove [attr.aria-label]="'remove ' + skill">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-chip-row>
  </mat-chip-grid>

  <input
    class="chip-multiselect__input"
    placeholder="New skill..."
    #skillsInput
    [formControl]="this.skillsFormControl.control"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    matAutocompletePosition="below"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
  <mat-autocomplete
    class="chip-multiselect__select"
    #auto="matAutocomplete"
    (optionSelected)="selected($event)">
    <mat-option
      *ngFor="let skill of filteredSkills$ | async"
      [value]="skill"
      class="chip-multiselect__option">
      <div class="chip-multiselect__option-content">
        <div>
          {{ skill.name }}
        </div>
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          class="chip-multiselect__option-levels">
          <mat-button-toggle
            class="chip-multiselect__option-level"
            #optionLevelButton
            *ngFor="let levelName of possibleLevelsNames"
            [value]="levelName"
            [checked]="ProficiencyLevel[skill.proficiency] === levelName"
            (click)="$event.stopPropagation(); onChooseLevel(skill, levelName)"
            [className]="
              'chip-multiselect__option-level-' + levelName | lowercase
            "
            [ngClass]="
              optionLevelButton.checked
                ? [
                    'chip-multiselect__option-level--selected',
                    ('chip-multiselect__option-level-' + levelName
                      | lowercase) + '--selected'
                  ]
                : ''
            "
            ><mat-icon class="chip-multiselect__option-level-icon"></mat-icon>
            {{ levelName }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
