<mat-action-list class="employee-list">
  <h2>
    {{ 'employee.list.title' | translate }}
  </h2>
  <button
    mat-list-item
    class="employee-list__button"
    (click)="onSelectEmployee(employee)"
    [class.employee-list__button--selected]="employee === selectedEmployee"
    type="button"
    *ngFor="let employee of employees">
    <img matListItemAvatar [src]="employee.avatarUrl" alt="Employee Avatar" />
    <span class="employee-list__id">{{ employee.id }}</span>
    <span class="employee-list__name">{{ employee.name }}</span>

    <!--    <app-employee-details-->
    <!--      *ngIf="employee === selectedEmployee"-->
    <!--      [selectedEmployee]="employee"></app-employee-details>-->
  </button>
</mat-action-list>

<button (click)="onAddNewEmployee()">
  {{ 'employee.list.new.employee.button' | translate }}
</button>
