//@use "sass:map";
@use "@angular/material" as mat;


$tapp-dark-primary-palette: mat.define-palette(mat.$blue-grey-palette);
$tapp-dark-accent-palette: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$tapp-dark-warn-palette: mat.define-palette(mat.$deep-orange-palette);

$tapp-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: $tapp-dark-primary-palette,
        accent: $tapp-dark-accent-palette,
        warn: $tapp-dark-warn-palette,
      ),
    )
);
