$tapp-primary-palette: (
  50 : #e6f7ef,
  100 : #c0ebd7,
  200 : #96debc,
  300 : #6bd1a1,
  400 : #4cc78c,
  500 : #2cbd78,
  600 : #27b770,
  700 : #21ae65,
  800 : #1ba65b,
  900 : #109848,
  A100 : #c9ffdd,
  A200 : #96ffbd,
  A400 : #63ff9d,
  A700 : #4aff8d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tapp-accent-palette: (
  50 : #f7e6ee,
  100 : #ebc0d4,
  200 : #de96b8,
  300 : #d16b9b,
  400 : #c74c85,
  500 : #bd2c70,
  600 : #b72768,
  700 : #ae215d,
  800 : #a61b53,
  900 : #981041,
  A100 : #ffc9da,
  A200 : #ff96b7,
  A400 : #ff6395,
  A700 : #ff4a83,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
