<div
  *ngIf="hasAnyProficiency()"
  class="level"
  [className]="'level--' + proficiency">
  <div
    class="level__stars"
    [ngClass]="{ 'level__stars--over-name': displayName }">
    <mat-icon *ngFor="let skill of getLevels()" class="level__star-icon"
      >star_border</mat-icon
    >
  </div>
  <div *ngIf="displayName" class="level__name">{{ proficiencyName }}</div>
</div>
<div>
  <div>
    <mat-icon *ngIf="!hasAnyProficiency()">not_interested</mat-icon>
  </div>
</div>

<!--<mat-icon *ngFor="let skill of getLevels()" class="level__star-icon"-->
<!--  >star_border</mat-icon-->
<!--&gt;<mat-icon *ngIf="!hasAnyProficiency()">not_interested</mat-icon>-->
