@import '../../../colors';

.navbar {
  display: flex;
  justify-content: space-between;
  color: $tapp-on-primary;

  &__menu-button {
    display: inline-flex;
  }
  &__app-title {
    color: $tapp-on-primary;
  }

  &__right-part,
  &__left-part {
    align-items: center;
    display: inline-flex;
  }

  &__navigation-items {
    list-style: none;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__navigation-item {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    &__menu-button {
      display: none;
    }

    &__navigation-item {
      display: inline-flex;

      &:hover,
      &:active {
        color: $tapp-primary-light;
      }
    }
  }
}
