<article
  *ngIf="selectedEmployee"
  xmlns="http://www.w3.org/1999/html"
  class="employee-details">
  <h2 class="employee-details__title">
    {{
      'employee.details.title'
        | translate
          : {
              person:
                selectedEmployee.name + ' ' + selectedEmployee.surname
                | uppercase
            }
    }}
  </h2>
  <div class="employee-details__field">
    <label for="name">{{ 'employee.details.name' | translate }}: </label>
    <input [(ngModel)]="selectedEmployee.name" id="name" placeholder="name" />
  </div>
  <div class="employee-details__field">
    <p>{{ 'employee.details.id' | translate }}: {{ selectedEmployee.id }}</p>
  </div>
  <div class="employee-details__field">
    <p>
      {{ 'employee.details.hire.date' | translate }}:
      {{ selectedEmployee.hireDate | date: 'dd-MMM-YYYY' }}
    </p>
  </div>
  <div class="employee-details__field">
    <p>
      {{ 'employee.details.manager' | translate }}:
      {{ selectedEmployee.manager }}
    </p>
  </div>
  <div class="employee-details__field">
    <p>
      {{ 'employee.details.skills' | translate }}: {{ selectedEmployee.skills }}
    </p>
  </div>
  <div class="employee-details__field employee-details__projects">
    <div>
      {{ 'employee.details.projects.title' | translate }}:
      <div
        *ngFor="let project of selectedEmployee.projects"
        class="employee-details__projects__project">
        <div class="employee-details__projects__project__name">
          {{ 'employee.details.projects.name' | translate }}: {{ project.name }}
        </div>
        <div class="employee-details__projects__project__deadline">
          {{ 'employee.details.projects.deadline' | translate }}:
          {{ project.deadline | date: 'dd-MM-YYYY' }}
        </div>
      </div>
    </div>
  </div>
</article>
