@import '../../../colors';

.employee-form {
  background-color: $tapp-secondary-light;
  border-radius: 2rem;
  padding: 2rem;
  width: fit-content;

  &__title {
    color: $tapp-on-background;

    &:hover {
      color: $tapp-secondary-dark;
      cursor:grab/pointer;
    }
  }
}
