@import 'src/styles/colors';

.message-list {
  &__message {
    font-size: 1rem;
    background-color: $tapp-alert-good-light;
    color: $tapp-alert-good-dark;
    text-align: center;
    padding: 0.6rem;
    margin-bottom: 0.7rem;
    border-radius: 1rem;
    border-color: $tapp-alert-good-dark;
    border-width: 0.1rem;
    border-style: solid;
  }

  :last-child {
    margin-bottom: 0;
  }

  &__clear-button {
  }
}
