<button
  *ngIf="!isChatOpen"
  mat-fab
  extended
  class="messages-window__toggle-button"
  (click)="openChatWindow()">
  <mat-icon>messages</mat-icon>
</button>
<mat-card
  *ngIf="isChatOpen && messageService.messages.length"
  class="messages-window__card">
  <mat-card-header class="messages-window__header">
    <mat-card-title>{{ 'messages.title' | translate }}</mat-card-title>
    <button
      mat-flat-button
      class="messages-window__toggle-button"
      (click)="closeChatWindow()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="message_list__content">
    <mat-list class="messages-window__list">
      <mat-list-item
        *ngFor="let message of messageService.messages"
        class="messages-window__message"
        >{{ message }}</mat-list-item
      >
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="messages-window__actions">
    <button
      mat-raised-button
      type="button"
      class="messages-window__clear-button"
      (click)="messageService.clear()">
      <mat-icon>delete_outline</mat-icon>
      {{ 'messages.clear.button' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
