.messages-window {
  display: flex;
  flex-direction: column;

  &__toggle-button {
    position: absolute;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
  }

  &__toggle-icon {
    margin: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 30rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  &__list {
    height: 20rem;
    overflow-y: auto;
  }

  &__header {
  }

  &__content {
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
