<button
  *ngIf="!isChatOpen"
  mat-fab
  extended
  class="messages-window__toggle-button"
  (click)="openChatWindow()">
  <mat-icon
    class="messages-window__toggle-icon"
    [matBadge]="messageService.messages.length"
    [matBadgeHidden]="messageService.messages.length === 0"
    >messages</mat-icon
  >Logs
</button>
<mat-card *ngIf="isChatOpen" class="messages-window__card">
  <mat-card-header class="messages-window__header">
    <mat-card-title>{{ 'messages.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="message_list__content">
    <mat-list class="messages-window__list" cdkScrollable>
      <mat-list-item
        *ngFor="let message of messageService.messages"
        class="messages-window__message"
        >{{ message }}</mat-list-item
      >
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="messages-window__actions">
    <button
      mat-raised-button
      type="button"
      class="messages-window__clear-button"
      (click)="clearMessages()">
      <mat-icon>delete_outline</mat-icon>
      {{ 'messages.clear.button' | translate }}
    </button>
    <button
      mat-raised-button
      class="messages-window__close-button"
      (click)="closeChatWindow()">
      <mat-icon>close</mat-icon>Close
    </button>
  </mat-card-actions>
</mat-card>
