.messages-window {
  display: flex;
  flex-direction: column;

  &__toggle-button {
    position: absolute;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
  }

  &__toggle-icon {
    margin: 0;
  }

  &__header {
    padding: 0.6rem;
    border-radius: 1rem 1rem 0 0;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom-style: none;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 30rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  &__content {
    border-style: solid;
    border-width: 0.1rem;
    border-top-style: none;
  }
  &__list {
    height: 20rem;
    overflow-y: auto;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
