.messages-window {
  display: flex;
  flex-direction: column;

  &__toggle-button {
    position: absolute;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
  }

  &__toggle-icon {
    margin: 0;
  }

  &__header {
    justify-content: center;
    padding: 0.6rem;
    margin: 0.7rem;
    border-radius: 1.8rem;
    border-style: solid;
    border-width: 0.1rem;

  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 30rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    border-radius: 1rem;
    background-color: #4e6a78;
  }

  &__content {
    margin: 0 0.3rem;
    padding: 0.5rem 0.7rem ;
  }

  &__list {
    height: 20rem;
    overflow-y: auto;
    margin-bottom: 1rem;

    :first-child {
      margin-top: 0;
    }
  }

  &__message {
    margin-top: 0.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__close-button, &__clear-button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
