.employee-details {
  background-color: blue;
  border-radius: 2rem;
  padding: 2rem;
  width: fit-content;

  &__title {
    color: darkblue;

    &:hover {
      color: darkviolet;
      cursor: grab/pointer;
    }
  }
}
