<mat-card *ngIf="selectedEmployee" class="employee-details">
  <mat-card-header class="employee-details__header">
    <mat-card-title class="employee-details__title">
      {{ [selectedEmployee.name, selectedEmployee.surname].join(' ') }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="employee-details__content">
    <p class="employee-details__field">
      <span class="employee-details__field-title">
        {{ 'employee.details.id' | translate }}:</span
      >
      <span> {{ selectedEmployee.id }} </span>
    </p>
    <p class="employee-details__field">
      <span class="employee-details__field-title">
        {{ 'employee.details.name' | translate }}:</span
      >
      <span>{{ selectedEmployee.name }} </span>
    </p>
    <p class="employee-details__field">
      <span class="employee-details__field-title">
        {{ 'employee.details.surname' | translate }}:
      </span>
      <span>{{ selectedEmployee.surname }}</span>
    </p>
    <p class="employee-details__field">
      <span class="employee-details__field-title">
        {{ 'employee.details.hire.date' | translate }}:
      </span>
      <span>{{ selectedEmployee.hireDate | date: 'dd-MM-YYYY' }}</span>
    </p>
    <p class="employee-details__field">
      <span class="employee-details__field-title">
        {{ 'employee.details.manager' | translate }}:
      </span>
      <span> {{ selectedEmployee.manager }}</span>
    </p>
    <p class="employee-details__field">
      <span class="employee-details__field-title"
        >{{ 'employee.details.skills' | translate }}:</span
      >
      <mat-grid-list cols="4" rowHeight="2:1">
        <ng-container *ngFor="let levelName of possibleSkillLevelsNames">
          <mat-grid-tile colspan="1">
            <app-level-stars
              [proficiency]="getProficiencyLevel(levelName)"
              [displayName]="true"></app-level-stars
          ></mat-grid-tile>
          <mat-grid-tile colspan="3">
            <span>{{ selectedEmployee.skills }}</span>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </p>
    <app-projects [projects]="selectedEmployee.projects"></app-projects>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button type="button" class="">
      <!--      (click)="editEmployee()"-->
      <mat-icon>edit</mat-icon>
      {{ 'messages.clear.button' | translate }}
    </button>
    <button mat-raised-buttons class="" (click)="onExitDetails()">
      <mat-icon>edit</mat-icon>Close
    </button>
  </mat-card-actions>
</mat-card>
<div
  *ngIf="selectedEmployee"
  class="employee-details__shadow-overlay"
  (click)="onExitDetails()"></div>
