@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $accent-palette: map.get($color-config, 'accent');
  $primary-palette: map.get($color-config, 'primary');

  $primary50: mat.get-color-from-palette($primary-palette, 50);
  $primary100: mat.get-color-from-palette($primary-palette, 100);
  $accent900: mat.get-color-from-palette($accent-palette, 900);

  .employee-table {
    &__header-row {
      background: $primary100 !important;
    }

    &__row {
      &:hover {
        background: $primary50;
      }
    }

    &__action-button {
      background-color: transparent;

      &:hover,
      &:active {
        color: $accent900;
      }
    }
  }
}

@mixin typography($typography-config) {
  //  TODO: Future development
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
