<!-- TODO: to update table - call renderRows() -->
<!-- TODO: change array - employees - to DataSource instance -->

<mat-card class="employee-table__container">
  <table class="employee-table" mat-table [dataSource]="employees">
    <!--  Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Name
      </th>
      <td
        mat-cell
        class="employee-table__cell"
        *matCellDef="let employee"
        (click)="onSelectEmployee(employee)">
        {{ employee.name }}
      </td>
    </ng-container>

    <!--  Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Surname
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.surname }}
      </td>
    </ng-container>

    <!--  HireDate Column -->
    <ng-container matColumnDef="hireDate">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Hire Date
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.hireDate | date }}
      </td>
    </ng-container>

    <!--  Skills Column -->
    <ng-container matColumnDef="skills">
      <th
        mat-header-cell
        class="employee-table__header-cell employee-table__header-cell-skills"
        [ngClass]="{
          'employee-table__header-cell--expand-highlight': skillsHovered
        }"
        *matHeaderCellDef>
        <div class="employee-table__header-cell-skills-inner">
          <button
            mat-icon-button
            class="employee-table__header-cell-skills-button--hidden">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <span> Skills </span>
          <button
            mat-icon-button
            (mouseenter)="skillsHovered = true"
            (mouseleave)="skillsHovered = false"
            (click)="onExpandSkills()"
            class="employee-table__header-cell-skills-button">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </div>
      </th>
      <td
        mat-cell
        class="employee-table__cell employee-table__cell-skills"
        [ngClass]="{
          'employee-table__header-cell--expand-highlight': skillsHovered
        }"
        *matCellDef="let employee">
        {{ (employee.skills | skillsNames).join(', ') }}
      </td>
    </ng-container>

    <ng-container
      *ngFor="let skillName of skillsNames"
      [matColumnDef]="skillName">
      <th
        mat-header-cell
        class="employee-table__header-cell employee-table__header-cell-skill"
        *matHeaderCellDef>
        <div
          class="employee-table__header-cell-skill-top-bar"
          (click)="onContractSkills()"></div>
        <p class="employee-table__header-cell-skill-name">{{ skillName }}</p>
        <div class="employee-table__header-cell-skill-bottom-bar"></div>
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        <!--        {{ employee.skills | skillLevel: skillName }}-->
        <app-level-stars
          [proficiency]="
            employee.skills | skillLevel: skillName
          "></app-level-stars>
      </td>
    </ng-container>

    <!--  Manager Column -->
    <ng-container matColumnDef="manager">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Manager
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        {{ employee.manager }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="employee-table__header-cell" *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell class="employee-table__cell" *matCellDef="let employee">
        <ul class="employee-table__action-list">
          <li class="employee-table__action-list-element">
            <button
              type="button"
              class="employee-table__action-button"
              title="delete employee"
              (click)="onDeleteEmployee(employee)">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="employee-table__header-row"
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="employee-table__row"
      [class.employee-table__row--selected]="row === selectedEmployee"
      (click)="onSelectEmployee(row)"
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
