<h2>Employees</h2>
<ul class="employees-list">
  <!--    do if else for classes-->
  <li class="employees-list__element" *ngFor="let employee of employees">
    <button
      class="employees-list__button"
      [class.employees-list__button--selected]="employee === selectedEmployee"
      type="button"
      (click)="onSelect(employee)">
      <span class="employees-list__id">{{ employee.id }}</span>
      <span class="employees-list__name">{{ employee.name }}</span>
    </button>
  </li>
</ul>

<!--make this template-->
<div *ngIf="selectedEmployee">
  <h2>{{ selectedEmployee.name | uppercase }} Details</h2>
  <div>id: {{ selectedEmployee.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input
      id="hero-name"
      [(ngModel)]="selectedEmployee.name"
      placeholder="name" />
  </div>
</div>
