<h2>Employees</h2>
<!--TODO: change name from plural to singular employee-list-->
<ul class="employees-list">
  <!--   TODO:  do if else for classes-->
  <li *ngFor="let employee of employees" class="employees-list__element">
    <button
      class="employees-list__button"
      (click)="onSelect(employee)"
      [class.employees-list__button--selected]="employee === selectedEmployee"
      type="button">
      <span class="employees-list__id">{{ employee.id }}</span>
      <span class="employees-list__name">{{ employee.name }}</span>
    </button>
  </li>
</ul>
<button (click)="unselectEmployee()">New Employee</button>
<app-employee-details
  [selectedEmployee]="selectedEmployee"></app-employee-details>

<app-employee-form
  [editedEmployee]="selectedEmployee"
  (editEmployeeEvent)="onEmployeeFormSubmit($event)"></app-employee-form>
