/* Employees-list Component's private CSS styles */
@import '../../../colors';

.employees-list {
  margin: 0 0 4rem 0;
  list-style-type: none;
  padding: 0;
  width: 30rem;

  &__element {
    display: flex;
  }

  &__button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 1rem;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 3.6rem;

    &:hover {
      color: #2c3a41;
      background-color: #e6e6e6;
      left: .2rem;
      cursor:grab/pointer;
    }

    &:active {
      background-color: #525252;
      color: #fafafa;
    }

    &--selected {
      background-color: black;
      color: white;

      &:hover {
        background-color: #505050;
        color: white;
        cursor:grab/pointer;
      }


      &:active {
        background-color: black;
        color: white;
      }
    }
  }

  &__id {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
    background-color: #405061;
    //line-height: 2rem;
    margin-right: 1.6rem;
    border-radius: 4px 0 0 4px;
  }

  &__name {
    align-self: center;
  }
}
