<h2>Employees</h2>
<ul class="employees-list">
  <!--    do if else for classes-->
  <li class="employees-list__element" *ngFor="let employee of employees">
    <button
      class="employees-list__button"
      [class.employees-list__button--selected]="employee === selectedEmployee"
      type="button"
      (click)="onSelect(employee)">
      <span class="employees-list__id">{{ employee.id }}</span>
      <span class="employees-list__name">{{ employee.name }}</span>
    </button>
  </li>
</ul>

<app-employee-details
  [selectedEmployee]="selectedEmployee"></app-employee-details>

<app-employee-form [editedEmployee]="selectedEmployee"></app-employee-form>
