//container - light
//on-container - dark
//on-primary

$tapp-primary: #6750A4;
$tapp-on-primary: #FFFFFF;
$tapp-primary-light: #EADDFF;
$tapp-primary-dark: #21005D;

$tapp-secondary: #625B71;
$tapp-on-secondary: #FFFFFF;
$tapp-secondary-light: #E8DEF8;
$tapp-secondary-dark: #1D192B;

$tapp-tertiary: #7D5260;
$tapp-on-tertiary: #FFFFFF;
$tapp-tertiary-light: #FFD8E4;
$tapp-tertiary-dark: #410E0B;

$tapp-background: #FFFBFE;
$tapp-on-background: #1C1B1F;
