$tapp-primary: #6750a4;
$tapp-on-primary: #ffffff;
$tapp-primary-light: #eaddff;
$tapp-primary-dark: #21005d;

$tapp-secondary: #625b71;
$tapp-on-secondary: #ffffff;
$tapp-secondary-light: #e8def8;
$tapp-secondary-dark: #1d192b;

$tapp-tertiary: #7d5260;
$tapp-on-tertiary: #ffffff;
$tapp-tertiary-light: #ffd8e4;
$tapp-tertiary-dark: #410e0b;

$tapp-background: #fffbfe;
$tapp-on-background: #1c1b1f;

$tapp-alert-good: #006d3e;
$tapp-alert-on-good: #ffffff;
$tapp-alert-good-light: #78fbad;
$tapp-alert-good-dark: #00210f;

$tapp-alert-warn: #eac300;
$tapp-alert-on-warn: #ffffff;
$tapp-alert-warn-light: #ffe173;
$tapp-alert-warn-dark: #221b00;
