@import '../../../colors';

.projects {
  display: inline-flex;
  width: 30rem;

  &__project {
    border-style: solid;
    border-radius: 6px;
    padding: 4px;
    margin: 8px 0;
  border-color: $tapp-tertiary-dark;
  background-color: $tapp-tertiary-light;

    &-name {

    }

    &-deadline {
      height: 5rem;
      padding-top: 1rem;
      font-size: 0.8rem;
    }
  }
}
