<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" class="employee-form">
  <h2 class="employee-form__title">
    <span *ngIf="editedEmployee; else newEmployeeBlock">
      Edit
      {{ editedEmployee.name | uppercase }}
      {{ editedEmployee.surname | uppercase }}'s</span
    >
    <ng-template #newEmployeeBlock><span>Enter New Employee</span></ng-template>
    Details:
  </h2>
  <label for="id"> ID: </label>
  <input formControlName="id" id="id" type="text" [readOnly]="true" />

  <label for="name"> First Name: </label>
  <input formControlName="name" id="name" type="text" />

  <label for="surname"> Surname: </label>
  <input formControlName="surname" id="surname" type="text" />

  <label for="hireDate"> Hire Date: </label>
  <input formControlName="hireDate" id="hireDate" type="date" />

  <label for="skills"> Skills: </label>
  <input formControlName="skills" id="skills" type="text" />

  <label for="manager"> Manager: </label>
  <input formControlName="manager" id="manager" type="text" />

  <p *ngIf="!employeeForm.valid">Complete the form to enable button.</p>
  <button [disabled]="!employeeForm.valid" type="submit">Submit</button>
</form>
