<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" class="employee-form">
  <h2 class="employee-form__title">
    <span *ngIf="editedEmployee; else newEmployeeBlock">
      Edit
      {{ editedEmployee.name | uppercase }}
      {{ editedEmployee.surname | uppercase }}'s</span
    >
    <ng-template #newEmployeeBlock><span>Enter New Employee</span></ng-template>
    Details:
  </h2>
  <label for="id"> ID: </label>
  <input formControlName="id" id="id" type="text" />

  <!--  TODO: should [(ngModel)] be added here so that changes in name are reflected in current value in the form -->
  <label for="name"> First Name: </label>
  <input formControlName="name" id="name" type="text" />

  <label for="surname"> Surname: </label>
  <input formControlName="surname" id="surname" type="text" />

  <label for="hireDate"> Hire Date: </label>
  <input formControlName="hireDate" id="hireDate" type="date" />

  <label for="skills"> Skills: </label>
  <ng-select
    [items]="skills"
    type="text"
    [searchable]="true"
    bindLabel="status"
    id="skills"
    formControlName="skills"
    [multiple]="true">
  </ng-select>

  <label for="manager"> Manager: </label>
  <input formControlName="manager" id="manager" type="text" />

  <p *ngIf="!employeeForm.valid" class="employee-form__hint">
    Complete the form to enable the button.
  </p>
  <button
    [disabled]="!employeeForm.valid"
    type="submit"
    [title]="employeeForm.valid ? '' : 'The form is invalid'">
    Submit
  </button>
  <button type="button" (click)="onResetForm()">Reset</button>
</form>
