//Levels depiction - from worst to best
$tapp-skill-level-0: rgba(223, 182, 103, 1);
$tapp-skill-level-1: rgba(160, 160, 160, 1);
$tapp-skill-level-2: rgba(242, 195, 0, 1);

$tapp-skill-level-contrast: black;
