<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" class="employee-form">
  <h2 class="employee-form__title">
    <span *ngIf="employeeToEdit; else newEmployeeBlock">
      {{
        'employee.form.edit.title'
          | translate
            : {
                person:
                  [employeeToEdit.name, employeeToEdit.surname]
                    .filter(Boolean)
                    .join(' ') | uppercase
              }
      }}</span
    >
    <ng-template #newEmployeeBlock
      ><span>{{ 'employee.form.add.title' | translate }}</span></ng-template
    >:
  </h2>

  <div class="employee-form__field">
    <label for="id"> {{ 'employee.form.id' | translate }}: </label>
    <input formControlName="id" id="id" type="text" />
  </div>

  <div class="employee-form__field">
    <label for="name"> {{ 'employee.form.firstname' | translate }}: </label>
    <input formControlName="name" id="name" type="text" />
  </div>

  <div class="employee-form__field">
    <label for="surname"> {{ 'employee.form.surname' | translate }}: </label>
    <input formControlName="surname" id="surname" type="text" />
  </div>

  <div class="employee-form__field">
    <label for="hireDate"> {{ 'employee.form.hire.date' | translate }}: </label>
    <input formControlName="hireDate" id="hireDate" type="date" />
  </div>

  <div class="employee-form__field">
    <label for="skills"> {{ 'employee.form.skills' | translate }}: </label>
    <ng-select
      [items]="skills"
      [searchable]="true"
      id="skills"
      formControlName="skills"
      [multiple]="true">
    </ng-select>
  </div>

  <div class="employee-form__field">
    <label for="manager"> {{ 'employee.form.manager' | translate }}: </label>
    <ng-select [searchable]="true" id="manager" formControlName="manager">
      <ng-option *ngFor="let manager of otherEmployees" [value]="manager.name">
        {{ manager.name }}
      </ng-option>
    </ng-select>
  </div>

  <div class="employee-form__field">
    <label for="projects"> {{ 'employee.form.projects' | translate }}: </label>

    <ng-select
      [searchable]="true"
      id="projects"
      formControlName="projects"
      [multiple]="true">
      <ng-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </ng-option>
    </ng-select>
  </div>

  <p *ngIf="!employeeForm.valid" class="employee-form__hint">
    {{ 'employee.form.invalid.hint' | translate }}
  </p>
  <button
    [disabled]="employeeForm.invalid"
    type="submit"
    [title]="employeeForm.invalid ? 'The form is invalid' : ''">
    {{ 'employee.form.submit.button' | translate }}
  </button>
  <button type="button" (click)="onResetForm()">
    {{ 'employee.form.reset.button' | translate }}
  </button>
</form>

<button type="button" (click)="goBack()">go back</button>
