@import "../../../colors";

.language-switch {
  width: fit-content;

  &__button {
    color: $tapp-primary-dark;
    background-color: $tapp-primary-light;
    padding: 10px;
    margin: 0;

    &:active, &:hover {
      color: $tapp-primary;
    }

    &--selected {
      color: $tapp-on-primary;
      background-color: $tapp-primary;

      &:active, &:hover {
        color: $tapp-primary-light;
      }

    }
  }
}
